aiofiles
aiohttp
asyncio
apscheduler
bard
deepai
dnspython
emojis
Faker
ffmpeg-python
future==0.18.3
gitpython
googlesearch-python
gpytranslate
gtts
hachoir
heroku3
httpx==0.25.2
lexica-api==1.5.1
motor
numpy
opencv-python
openai==0.28.0
pickledb
pillow==9.5.0
psutil
pycountry
pycryptodome
pyfiglet
pykeyboard
pyrofork
pyrogram
pyshorteners
py-tgcalls==0.9.7
python-dotenv
python-telegram-bot
python-whois
pydub
pytgcalls
pytz
pyyaml==6.0.1
py-yt-search
requests
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
sympy
telegraph
tgcrypto
unide
